.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: 5%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 27%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.cont-titulo-decorativo
  position: relative
  max-width: max-content
  figure
    width: 40px
    position: relative
  h3
    position: relative
    color: white
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: 23px
    background: rgb(119,55,240)
    background: linear-gradient(180deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)
    border-radius: 6px
    z-index: 0

//banners
.banner-principal__info
  @media screen and (max-width: $bp-max-xl)
    padding-right: 5rem
  @media screen and (max-width: $bp-max-md)
    padding-right: 1.125rem
.banner-principal__img
  padding-bottom: 0 !important
  padding-top: 0.7rem !important
  img
    max-width: 427px
    margin: 0 auto
.banner-principal .tarjeta
  background-position: inherit
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important
.banner-interno
  height: 160px
  .banner-interno__fondo
    background-position: right
    background-image: url(../assets/curso/fondo_tema.png) !important
.titulo-principal.color-acento-contenido
  .titulo-principal__numero
    span
      color: $color-sistema-texto

//bloque de textos
.bloque-texto-b
  &:before
    background-color: $color-sistema-m
    top: 45%
    left: 45%
    bottom: 18%
  i
    font-size: 1.9em

//color fondos
.fondo-color-blanco
  background-color: white !important
.fondo-color-primario
  background-color: $color-primario !important
.fondo-color-sistema-h
  background-color: $color-sistema-h !important
.fondo-color-sistema-i
  background-color: $color-sistema-i !important
.fondo-color-sistema-j
  background-color: $color-sistema-j !important
.fondo-color-sistema-k
  background-color: $color-sistema-k !important
.fondo-color-sistema-l
  background-color: $color-sistema-l !important
.fondo-color-sistema-m
  background-color: $color-sistema-m !important
.fondo-color-sistema-n
  background-color: $color-sistema-n !important
.fondo-color-sistema-o
  background-color: $color-sistema-o !important
.fondo-color-sistema-p
  background-color: $color-sistema-p !important
.fondo-color-acento-contenido
  background-color: $color-acento-contenido !important
.fondo-color-sistema-q
  background-color: $color-sistema-q !important
.fondo-color-sistema-r
  background-color: $color-sistema-r !important

//bordes
.borde-7
  border-radius: 7px !important
.borde-8
  border-radius: 8px !important
.borde-9
  border-radius: 9px !important
.borde-16
  border-radius: 16px !important
.borde-18
  border-radius: 18px !important
.borde-20
  border-radius: 20px !important
.borde-10
  border-radius: 10px !important
.borde-11
  border-radius: 11px !important

//fondos personalizados
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/3.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    @media screen and (max-width: $bp-max-md)
      width: 100%
      left: 0
  &__contenido
    position: relative
    

.fondo-personalizado-2
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/4.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    @media screen and (max-width: $bp-max-md)
      background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-size: 100% 65%
  &.pos-2
    &:before
      bottom: 18px
      top: -22px
  &.pos-3
    &:before
      top: 38%
  &.pos-4
    &:before
      top: 18%
      bottom: 48%
  &.pos-5
    &:before
      top: 37%
      bottom: 30%

.fondo-personalizado-3
  position: relative
  &:before
    content: ""
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/9.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-4
  position: relative
  overflow: hidden
  &:before
    content: ""
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
    z-index: 0
    background-color: $color-primario
  &__contenido
    position: relative
  .imgf-1
    position: absolute
    max-width: 120px
    right: 20px
    transform: translateY(-65%)
  .imgf-2
    position: absolute
    max-width: 120px
    bottom: 0
    left: 15px
    transform: translateY(60%)
  .imgf-3
    position: absolute
    max-width: 471px
    bottom: 0
    right: 0
    transform: translateY(38%) translateX(25%)

.fondo-personalizado-5
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/44.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: -40px

.fondo-personalizado-6
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/66.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: -40px

.fondo-personalizado-7
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/70.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-size: 100% 100%

.fondo-personalizado-8
  position: relative
  overflow: hidden
  &:before
    content: ""
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
    z-index: 0
    background-color: #E8EEFE
  &__contenido
    position: relative
  .imgf-1
    position: absolute
    max-width: 141px
    left: 0
    top: 0
    transform: translateX(-55%) translateY(-15%)
  .imgf-2
    position: absolute
    max-width: 88px
    bottom: 0
    left: 0px
    transform: translateY(50%) translateX(-50%)
  .imgf-3
    position: absolute
    max-width: 56px
    top: 0
    left: 300px
    transform: translateY(38%) translateX(25%)
  .imgf-4
    position: absolute
    max-width: 107px
    top: 0
    right: 0
    transform: translateY(-48%) translateX(48%)
  .imgf-5
    position: absolute
    max-width: 367px
    bottom: 0
    right: 0
    transform: translateY(52%) translateX(64%)


//shadows
.shadow-1
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)

//imagen infografica
.imagen-infografica-personalizada-1
  .img-infografica__item, .img-infografica-b__item
    width: 4%
  .tarjeta
    background-color: white
  .img-infografica__item__numero
    font-size: 1.5rem

.imagen-infografica-personalizada-2
  .img-infografica__item, .img-infografica-b__item
    width: 8%
  .tarjeta
    background-color: white
  .img-infografica__item__numero
    font-size: 1.5rem
  .img-infografica__card
    width: auto
    .fondo-color-blanco
      background-color: #F7EEFE !important

//tarjetas
.estilo-tarjetas-personalizado-1
  .tarjeta
    -webkit-box-shadow: 7px 7px 28px -5px rgba(0,0,0,0.1)
    -moz-box-shadow: 7px 7px 28px -5px rgba(0,0,0,0.1)
    box-shadow: 7px 7px 28px -5px rgba(0,0,0,0.1)
    border-radius: 24px
    background-color: white
    h4,p
      color: $color-sistema-texto
      text-align: center

.estilo-tarjetas-personalizado-2
  background-color: $color-primario
  cursor: pointer
  transition: background-color .5s, color .5s
  h4 
    color: white
  ul
    color: white
    i.fas.fa-cube
      color: white !important
      font-size: 0.7rem
  &:hover
    background-color: $color-sistema-q
    h4 
      color: $color-sistema-texto
    ul
      color: $color-sistema-texto
      i.fas.fa-cube
        color: $color-sistema-texto !important


//tabs
.tabs-b
  &__tab
    background-color: white !important
    border-bottom: none
    &--active
      background-color: $color-sistema-j !important
    &__icon
      order: 2
      margin-bottom: 0 !important
    &__title
      font-weight: bold
      margin-bottom: 20px !important

//listas
ul
  li
    display: flex !important

.lista-personalizada-1
  li
    margin-bottom: 4px !important
  li > i:first-of-type
    color: $color-primario !important

.lista-personalizada-2
  li
    margin-bottom: 16px !important

//slyders personalizados
.slider-personalizado-1
  position: relative
  overflow-y: clip
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-color: $color-primario
  &__contenido
    position: relative
    background-color: white !important
    border-radius: 20px
    .slyder-a
      .slyder-a__btn--sigt,.slyder-a__btn--atrs
        background-color: $color-acento-botones
      .slyder-a__bullets__item
        opacity: 0.35
        background-color: $color-secundario
        border: none !important
        &--active
          opacity: 1 !important
  .imgf-1
    position: absolute
    max-width: 120px
    right: 10px
    transform: translateY(-95%)
  .imgf-2
    position: absolute
    max-width: 120px
    bottom: 0
    left: 15px
    transform: translateY(60%)
  .imgf-3
    position: absolute
    max-width: 605px
    bottom: 0
    right: 0
    transform: translateY(33%) translateX(34%)

.slider-personalizado-2
  .slyder-f__btn
    position: relative
    *
      position: relative
    &:before
      content: ""
      background-color: #FFCE00
      position: absolute
      height: 50px
      width: 50px
      z-index: 0
      border-radius: 50%
      @media screen and (max-width: 576px)
        width: 30px
        height: 30px
    i
      font-size: 1rem
      color: $color-sistema-texto

//acordiones
.acordion-personalizado-1
  &__tarjeta
    .acordion__header
      margin-bottom: 0.5rem !important
    padding-right: 1rem !important
    padding-left: 1rem !important
    padding-top: 0.5rem !important
    border-radius: 10px
    background-color: $color-primario
    .acordion__titulo
      h3
        color: white !important
    &.acordion__activo
      background-color: $color-sistema-k
      .acordion__titulo
        h3
          color: $color-sistema-texto !important
  .acordion__accion__btn--a
    background-color: $color-acento-botones !important

//pasos
.pasos-personalizado-1
  .pasos-b__header__item:first-child
    .pasos-b__header__item__line-container:before
      background-color: transparent
  .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
    background-color: white
  .pasos-b__header__item--before
    .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
      background-color: $color-acento-contenido
    .pasos-b__header__item__dot
      background-color: $color-acento-contenido
      i
        display: none
      span
        display: block
  .pasos-b__header__item--active
    .pasos-b__header__item__dot
      background-color: $color-acento-contenido
      span
        color: $color-sistema-texto
    .pasos-b__header__item__line-container:before
      background-color: $color-acento-contenido
  .pasos-b__header__item__dot
    background-color: white
    border: none
  .pasos-b__header__btn--right,.pasos-b__header__btn--left
    background-color: $color-acento-botones
    &:hover
      border-color: #cccccc

.pasos-personalizado-2
  .pasos-b__header__item__tittle
    color: white
  .pasos-b__header__item:first-child
    .pasos-b__header__item__line-container:before
      background-color: transparent
  .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
    background-color: white
  .pasos-b__header__item--before
    .pasos-b__header__item__line-container:after,.pasos-b__header__item__line-container:before
      background-color: $color-acento-contenido
    .pasos-b__header__item__dot
      background-color: transparent
      border: 3px solid $color-acento-contenido
      i
        display: none
  .pasos-b__header__item--active
    .pasos-b__header__item__dot
      background-color: transparent
      border: 7px solid $color-acento-contenido
      span
        color: $color-sistema-texto
    .pasos-b__header__item__line-container:before
      background-color: $color-acento-contenido
  .pasos-b__header__item__dot
    min-width: 26px
    min-height: 26px
    max-width: 26px
    max-height: 26px
    background-color: white
    border: none
    span
      display: none
  .pasos-b__header__btn--right,.pasos-b__header__btn--left
    background-color: $color-acento-botones
    &:hover
      border-color: #cccccc

.pasos-a-personalizado-1
  .pasos-a__linea__esquina__linea
    border-radius: 0


//burbujas
.fondo-personalizado-burbuja
  position: relative
  .burbuja
    height: 294px
    width: 294px
    background-color: white
    -webkit-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    -moz-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    border-radius: 50%
    position: absolute 
    &.right
      right: 0
      transform: translateX(calc( 50px +  147px))
    &.left
      left: 0
      transform: translateX(calc( -50px -  147px))
  &__contenido
    position: relative
    